<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <ion-icon name="walk"></ion-icon> {{ language["CHOICE_ITINERARY"] }}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="onConnect()">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>

            <ion-button (click)="onFavorit()">
                <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-button>

        </ion-buttons>

    </ion-toolbar>
</ion-header>